.container {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
}

.left-box {
  margin-left: 0;
  height: 100%;
  width: 300px;
  background-color: var(--main-color);
  display: flex;
  position: relative;
  border-radius: 0 12.5px 12.5px 0;
}

.title {
  margin: auto;
  color: white;
  font-family: "menu-font";
  text-align: center;
  z-index: 10;
}

.main-title {
  margin-bottom: 0;
}

.sub-title {
  margin-top: 0;
}

.hex-image {
  display: flex;
  position: absolute;
  color: white;
  margin-left: -20px;
  margin-top: -20px;
  width: inherit;
  height: auto;
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg)
    brightness(95%) contrast(80%);
}

.brand-image {
  z-index: 1;
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 25%;
}

.right-box {
  display: flex;
  height: 100%;
  position: relative;
  margin: auto;
  text-align: center;
}

.login-form {
  position: relative;
  margin: auto;
  font-family: "sub-font";
  width: 300px;
}

.login-form > Button {
  margin-top: 20px;
  width: inherit;
}

